{% extends 'base.html' %}
{% block header %}
    {% block title %}Shorten a link{% endblock %}
{% endblock %}

{% block content %}
<form class="center-form" method="post">
    <div class="row">
        <label for="destination">Destination</label>
        <input class="u-full-width" type="text" name="destination" id=destination value="{{ destination_value }}" placeholder="https://example.com/" autocomplete="off" required>
    </div>
    <div class="row">
        <label for="shortened">Shortened URL</label> 
        Must consist of [a-zA-Z0-9-_]
        <input class="u-full-width" type="text" name="shortened" id=shortened placeholder="myperfecturl" autocomplete="off" pattern="[a-zA-Z0-9-_]+" required>
    </div>
    <div class="row">
        <input class="button-primary primary-action" type="submit" value="Shorten">
    </div>
</form>
{% endblock %}