{% extends 'base.html' %}
{% block header %}
<h2>{% block title %}Shorten a link{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="row">
        <label for="destination">Destination</label>
        <input type="text" name="destination" id=destination value="{{ destination_value }}" placeholder="https://example.com/" required>
    </div>
    <div class="row">
        <label for="shortened">Shortened URL</label>
        <input type="text" name="shortened" id=shortened placeholder="myperfecturl">
    </div>
    <div class="row">
        <input class="button-primary" type="submit" value="Shorten">
    </div>
</form>
{% endblock %}