{% extends 'base.html' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
  <form class="center-form" method="post">
    <div class="row">
        <label for="username">Username</label>
        <input class="u-full-width" type="text" name="username" id="username" required>
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name="password" id="password" required>
    </div>
    <div class="row">
        <input class="button-primary primary-action" type="submit" value="Register">
    </div>
  </form>
{% endblock %}
